.Board {

}

ul {
    margin: 0;
    padding: 0;
}

ul.cards {
    min-height: 200px;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.switch{
    transform: scale(2);
    width: 30px;
}

.page-section {
    padding: 8rem 0;
}

header.masthead{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
}
