.CardContent {
    border-left: 2px solid black;
}

.ContentButton {
    border: none;
}

.MenuButton {
    color: black !important;
}

.MenuButton:hover {

    color: white !important;
}

input {
    width: 100%;
    border: none;
}

input:hover {
    border-radius: 1em;
    background-color: whitesmoke;
}

input:focus {
    outline: none;
}

.material-icons.transform {
    transform: scale(-1, 1);
}

/* Bootstrap4 dropdown settings */

.drop-hover:hover .dropdown-menu {
    display: block !important;
    margin: 0 !important;
    border: none !important;
    border-left: 4px solid orange !important;
    border-radius: 0 !important;
}
