.Description {
    border-bottom: 4px solid black;
}

/* input */

input {
    width: 100%;
    border: none;
}

input:hover {
    background-color: whitesmoke;
}

input:focus {
    outline: none;
}

/* icon font */

.material-icons.transform {
    transform: scale(-1, 1);
}

/* Bootstrap4 dropdown settings */

.drop-hover:hover .dropdown-menu {
    display: block !important;
    margin: 0 !important;
    border: none !important;
    border-left: 4px solid orange !important;
    border-radius: 0 !important;
}

.dropdown-menu li{
    margin: 2px;
}
