.Card {
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Description {
    border-bottom: 2px solid black;
}

/* input */

input {
    width: 100%;
    border: none;
}

input:hover {
    background-color: whitesmoke;
}

input:focus {
    outline: none;
}

/* icon font */

.material-icons.transform {
    transform: scale(-1, 1);
}

.MenuButton {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 4px;
}

/* Bootstrap4 dropdown settings */

.drop-hover .dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.drop-hover:hover .dropdown-menu {
    display: block !important;
    margin: 0 !important;
    border: none !important;
}

.dropdown-menu li{
    margin: 2px;
}
