body {
    min-height: 100vh;
}

.Column {
    width: 240px;
    float:left;
    margin: 8px 8px;
}

.ColumnHeader {
    margin-bottom: 24px;
    padding: 4px 8px;
    border-bottom: 4px solid #343a40;
}

.ColumnContent {
    height: 72vh;
}

.Column input {
    background-color: transparent;
    font-family: 'Yusei Magic', sans-serif;
}

::-webkit-scrollbar{
    width: 4px;

}
::-webkit-scrollbar-thumb{
    background: #343a40;
    border-radius: 50px;
}
