.Column {
    width: 250px;
    height: 800px;
    float:left;
    margin: 8px 4px;
}

.ColumnHeader {
    margin-bottom: 32px;
    padding: 4px 4px;
}

.HeaderButton {
    float: right;
    border: none !important;
    color: orange !important;
}
