.Column {
    width: 200px;
    height: 800px;
    float:left;
    margin: 8px 4px;
}

.ColumnHeader {
    color:blue;
    margin-bottom: 32px;
    padding: 4px 4px;
}

.HeaderButton {
    float: right;
}
