<div class="container">
    <div class="jumbotron mt-4 bg-white">
	<h1 class="display-1">Kanbany</h1>
        <p class="text-secondary">Organize your life.</p>
    </div>
    <%= react_component("Board", url: "/api/v1/columns") %>
</div>
